A4/MyStateMachine
{
  "Comment": "Hashing State Machine",
  "StartAt": "SelectHashingAlgorithm",
  "States": {
    "SelectHashingAlgorithm": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.action",
          "StringEquals": "sha256",
          "Next": "SHA256Hash"
        },
        {
          "Variable": "$.action",
          "StringEquals": "md5",
          "Next": "MD5Hash"
        }
      ],
      "Default": "BcryptHash"
    },
    "SHA256Hash": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:448001105130:function:SHA-256",
      "InputPath": "$",
      "End": true
    },
    "MD5Hash": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:448001105130:function:MD5",
      "InputPath": "$",
      "End": true
    },
    "BcryptHash": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:448001105130:function:Bcrypt",
      "InputPath": "$",
      "End": true
    }
  }
}
